/* styles.css*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    background-color: #78bffa;
    display:flex;
    justify-content:center;
    align-items:start;
    height: 100vh;
    overflow: hidden;
    font-family: luminari, fantasy;
}


/*---CLOCK STYLING---*/


#clock{
    font-size:72px;
    font-weight:bold;
    transition: opacity .05s ease-out;
}

label, select{
    display: block;
    margin-top: 10px;
    font-size: 24px;
    
}

.vbox1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #464b56;
    border-radius: 10px;
    border: 2px solid #8e8e8e;
    border-style: outset;
    color:rgb(220, 184, 184);
    position: absolute;
    left: 2vw;
    bottom: 3vh;
    width: 37vw;
    height: 25vh;
}

#am_pm_box{
    font-size: 18px;
    margin-top: auto;
    margin-bottom: 20px;
    transition: .05s ease-out;
}

#datebox{
    font-size: 20px;
    margin-top: 16px;
    transition: .05s ease-out;
}


/*---AUTO-INCREMENT STYLING---*/


.hbox1{
    display: flex;
    flex-direction: row;
}

.intervalHBox{
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.toggleBox{
    display: flex;
    flex-direction: row;
    gap: 7px;
    justify-content: center;
    align-items: center;
    background-color: #464b56;
    border-radius: 10px;
    border: 2px solid #8e8e8e;
    border-style: outset;
    color:rgb(220, 184, 184);
    position: absolute;
    left: 2vw;
    bottom: 29vh;
    width: 37vw;
    height: 5vh;
}


/*---NAVBAR STYLING---*/


.navbar{
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: #464b56;
    border: 2px solid #8e8e8e;
    border-style: outset;
    color:rgb(220, 184, 184);
    position: absolute;
    width: 100vw;
    height: 10vh;
    align-items: center;
    padding-left: 9px;
}


#title{
    font-size: 8vh;
    font-weight: bold;
}


/*---WEATHER BOX STYLING---*/


.weatherbox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #464b56;
    border-radius: 10px;
    border: 2px solid #8e8e8e;
    border-style: outset;
    color:rgb(220, 184, 184);
    position: absolute;
    left: 2vw;
    bottom: 35vh;
    width: 52vw;
    height: 52vh;
}

#biomeBox{
    align-self: flex-start;
    font-size: 3.5vh;
    margin-left: 1vw;
    margin-top: 1vh;
    transition: opacity .05s ease;
}

#weatherTitle{
    font-size: 7vh;
    font-weight: bold;
    margin-left: 3vw;
    transition: opacity .05s ease;
}

#weatherFlavorBox{
    font-size: 2.8vh;
    margin-left: 1vw;
    margin-top: 1vh;
    transition: opacity .05s ease;
}

#weatherRulesetBox{
    align-self: flex-start;
    font-size: 2.3vh;
    margin-left: 1vw;
    margin-top: 1.9vh;
    transition: opacity .05s ease;
}

#windBox{
    transition: opacity .05s ease;
}

#precipitationBox{
    transition: opacity .05s ease;
}

#humidityBox{
    transition: opacity .05s ease;
}

#visibilityBox{
    transition: opacity .05s ease;
}

.weatherVbox1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.weatherVbox2{
    display:flex;
    flex-direction:column;
    align-self: flex-start;
    font-size: 3vh;
    margin-left: 30vw;
    margin-top: .5vh;
    gap: 1vh;
    position: absolute;

}

.weatherHbox1{
    display:flex;
    flex-direction: row;
    align-self: flex-start;
}

.weatherHbox2{
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

#generateWeatherButton{
    position: absolute;
    bottom: 1vh;
    left: 1vw;
}

.weatherVolatilityHBox{
    display: flex;
    flex-direction: row;
    gap: 1vw;
    font-size: 3vh;
    position: absolute;
    bottom:1vh;
    right: 1vw;
}

#volatilityTooltip{
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    z-index: 10;

}

.customButton1{
    background-color: #514467;
    border: 2px solid #31353f;
    border-style: outset;
    border-radius: 5px;
    color: rgb(220, 184, 184);
    text-align: center;
    text-decoration: none;
    font-family: luminari, fantasy;
    display: inline-block;
    font-size: 3.5vh;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.customButton1:hover{
    background-color: #342c41;
}

.customTextInput1{
    background-color: #342c41;
    border: 2px solid #31353f;
    border-style: inset;
    border-radius: 5px;
    color: rgb(220, 184, 184);
    text-align: center;
    text-decoration: none;
    font-family: luminari, fantasy;
    display: inline-block;
    font-size: 2.3vh;
    transition: background-color 0.2s ease;
    width: 3vw;
}

.customTextInput1:hover{
    background-color: #514467;
}

.customDropdown{
    background-color: #342c41;
    border: 2px solid #31353f;
    border-style: inset;
    border-radius: 5px;
    color: rgb(220, 184, 184);
    text-align: center;
    text-decoration: none;
    font-family: luminari, fantasy;
    display: inline-block;
    font-size: 2.3vh;
    transition: background-color 0.2s ease;

}

.customDropdown1:hover{
    background-color: #514467;
}


/*---DICE BOX STYLING---*/


.diceBox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #464b56;
    border-radius: 10px;
    border: 2px solid #8e8e8e;
    border-style: outset;
    color:rgb(220, 184, 184);
    position: absolute;
    left: 40vw;
    bottom: 3vh;
    width: 14vw;
    height: 31vh;
    gap: 1vh;
    padding: 1vh;
}

.diceButton{
    background-color: #514467;
    border: 2px solid #31353f;
    border-style: outset;
    border-radius: 5px;
    color: rgb(220, 184, 184);
    text-align: center;
    text-decoration: none;
    font-family: luminari, fantasy;
    display: inline-block;
    font-size: 2.3vh;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 3vw;
    user-select: none;
}

.diceButton:hover{
    background-color: #342c41;
}

.diceTextOutput{
        background-color: #342c41;
        border: 2px solid #31353f;
        border-style: inset;
        border-radius: 5px;
        color: rgb(220, 184, 184);
        text-align: center;
        text-decoration: none;
        font-family: luminari, fantasy;
        display: inline-block;
        font-size: 2.3vh;
        transition: background-color 0.2s ease;
        width: 3vw;
}

.diceText{
    opacity: .05s ease-out;
}

.diceHBox1{
    display: flex;
    flex-direction: row;
    gap: 1vw;
}


/*---UPDATE BOX STYLING---*/


.updateBox{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    background-color: #464b56;
    border-radius: 10px;
    border: 2px solid #8e8e8e;
    border-style: outset;
    color:rgb(220, 184, 184);
    position: absolute;
    right: 2vw;
    bottom: 3vh;
    width: 43vw;
    height: 31vh;
    font-size: 3vh;
    padding-top: 1vh;
    padding-left: 1vw;
    padding-right:1vw;
    padding-bottom:1vh;
    overflow: scroll;
}

.updateBox > div {
    flex: 0 0 auto; /* Prevent flex items from growing or shrinking */
    margin-bottom: 1vh; /* Spacing between items */
}

#update1{
    font-weight: bold;
}
#update2{
    opacity: .85;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#update3{
    opacity: .7;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#update4{
    opacity: .55;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#update5{
    opacity: .4;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#update6{
    opacity: .3;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
